div[data-testid="stSidebarUserContent"]{
	padding: 0rem 1.5rem;
}

div[data-testid="stSidebarHeader"]{
	padding: 0.85rem;
}

div[data-baseweb="modal"] div[data-testid="stVerticalBlockBorderWrapper"] div[data-testid="stVerticalBlock"] div[data-testid="stMarkdownContainer"] p span,
div[data-baseweb="modal"] div[data-testid="stVerticalBlockBorderWrapper"] div[data-testid="stVerticalBlock"] div[data-testid="stMarkdownContainer"] h3
{
	color: black !important;
}

div[data-testid="stFileUploaderDropzoneInstructions"] small{
	color: black;
}

div.stFileUploaderFileName {
	color: black;
}

h1#bruinrag {
	color: black;
	position: fixed;
    bottom: 85px;
    z-index: 10000;
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.st-emotion-cache-1v0mbdj {
	border: 1px solid white;
}

section[data-testid="stSidebar"]{
	background: #2774ae;
}

header[data-testid="stHeader"]{
	background: #2774ae;
}

section.stMain {
	background: #e3e8ee;
}

section.stMain .st-d1 {
	background-color: #e3e8ee !important;
}

.st-d1 {
	background: #e3e8ee !important;
}

section.stMain div[data-testid="stTextInputRootElement"] {
	border-radius: 25px;
	width: 50%;
	margin: 0 auto;
}

section.stMain div[data-testid="stVerticalBlockBorderWrapper"] div[data-testid="stCheckbox"] {	
	margin-top: 10%;
}

section.stMain div[data-testid="stTextInput"] {
	background-color: white;
	border-top-left-radius: 1.5rem;
  	border-top-right-radius: 1.5rem;
    padding: 45px;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    width: 70%;
}

section.stMain div.stDownloadButton button {
	position: relative;
	bottom: 6rem;
	left: 55%;
}

/*
section.main {
	background: white;
}
*/

img {
	background: white;
	padding: 2px;
}

.st-emotion-cache-vk3wp9 .element-container .stMarkdown {
	color: white;
}

.st-emotion-cache-vk3wp9 .element-container h1,h2,h3, p {
	color: white;
}

.st-emotion-cache-1pbsqtx {
	color: white;
}

button p {
	color: black;
}

div.stDeployButton {
	color: white;
}

.st-emotion-cache-1dx1gwv {
	color: white;
}

.main {
	.st-emotion-cache-1li7dat {
		color: white;
		margin-bottom: 0.3rem;
		margin-right: 0.1rem;
	}
}

#text_input_2 {
	//background: #003B5C;
	color: black;
	//border: 6px solid #2774AE;
	caret-color: black;
	//border-radius: 10px;
	//height: 60px;
}

section[data-testid="stSidebar"] label[data-testid="stWidgetLabel"] div[data-testid="stMarkdownContainer"] p {
	color: white;
}

div[data-testid="stMarkdownContainer"] h3 {
	color: white;
}

button[data-testid="stBaseButton-header"] div span {
	color: white;
}

/*section[data-testid="stSidebar"] div[data-testid="stMarkdownContainer"] div h1 {
	color: white !important;
}
*/

button[data-testid="stWidgetLabel"]{
	background: white;
	border: 1px solid white;
}

div[data-testid="stTickBar"]{
	color: white;
}

.st-bb {
    background-color: white;
}

.st-emotion-cache-eqffof p > span {
	color: white !important;
}

.st-emotion-cache-1uixxvy, .st-emotion-cache-1aehpvj {
	color: white;
}

.main label[data-testid="stWidgetLabel"] p {
	color: black;
	font-weight: 600;
}

.main div[data-testid="stImage"] img {
	max-width: 100%;
	height: 70px;
}

div[data-testid="stMarkdownContainer"] div h1 {
	color: white;
}

div[data-testid="stMarkdownContainer"] p span {
	color: white !important;
}

div[data-testid="stMarkdownContainer"] ol {
	color: white;
}

.StyledThumbValue {
	color: rgb(255, 75, 75);
}

.st-d1 {
    background: linear-gradient(to right, rgb(255, 75, 75) 0%, rgb(255, 75, 75) 89.899%, rgba(151, 166, 195, 0.25) 89.899%, rgba(151, 166, 195, 0.25) 100%);
}

.stTooltipHoverTarget > svg {
    stroke: rgb(255, 255, 255) !important;
    stroke-width: 2.25;

/*.st-emotion-cache-ue6h4q div.st-emotion-cache-l9bjmx p {
	color: black;
}*/